@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}
body{
    min-height: 100vh;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    
}
header >p{
   padding-bottom: 50px;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
}
section.normal{
    background-color:white;
    color:black;
}
section.imagem{
    background-color: black;
    color: white;
}
section.imagem>p{
    background-color: rgba(55, 52, 52, 0.548);
    width: 400px;
   
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration:underline;
}
footer{
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
}